:root {
    --bgColor: #6358B6;
    --navColor: #3F2E7C;
    --navFontColor: white;
    --primaryFont: "InsideOut", sans-serif;
    --secondaryFont: "Montserrat", sans-serif;
}

html, body{
    background-color: var(--bgColor);
}

.navbar{
    background-color: var(--navColor);
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    min-height: 60px;
}

.navbar-brand, .nav-link, .islands-of-personality{
    color: var(--navFontColor);
    font-family: var(--primaryFont);
}

.play-memories{
    object-fit: cover;
    object-position: center;
}

.welcome{
    font-family: var(--primaryFont);
    background-color: white;
}

.welcome .row{
    padding-inline: 100px;
    font-family: var(--secondaryFont);
    font-size: 1.2rem;
    margin-top: 50px;
    text-align: justify;
}

.islands-of-personality{
    background-image: url(../img/welcome-bg.png);
    background-size: cover;
    background-position: top center;
}

.btn{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.glow-btn {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.glow-btn:hover {
  box-shadow: 0 0 20px 5px rgba(255, 242, 0, 0.901);
}

.islands {
    max-width: 100%;
    height: auto;          
    object-fit: contain;   
    margin: 20px 0; 
}


